footer {
  max-width: 1280px;
  min-width: 800px;
  min-height: 100px;
  margin: 0 auto;
  background-color: $site-blue;
  color: $white;
  display: flex;
  align-items: center;
  text-align: center;

  .logo {
    width: 30%;
  }

  p {
    width: 40%;
    font-family: Gill Sans Regular;
    font-size: 12px;
  }

  .icons {
    width: 30%;
  }
}

@media only screen and (max-width: 1060px) {
  footer {
    //min-width: 800px;
    height: auto;
  }
}
